<div id="gridCalcThemeRoot" class="">

    <div class="gridCalc-text_header">
        <h1>
            {{#link-to "calculator" class="gridCalc-text_title" id="theme_header"}}Ember Calculator - Default Theme {{/link-to}}
            
        </h1>

        {{#link-to "themes" class="gridCalc-theme_select"}}Select Theme{{/link-to}}
    </div>

    {{outlet}}
</div>