<div class="gridCalc-theme_wrapper">
    <h2>Select a theme</h2>

    <div class="gridCalc-theme_item">
        <h3>Default</h3>
        <button {{ action "defaultTheme" }}>Activate Theme</button>
    </div>

    {{#each model as |theme|}}
        <div class="gridCalc-theme_item">
            <h3>{{ theme.name }}</h3>
            <button {{ action "setTheme" theme}}>Activate Theme</button>
        </div>
    {{/each}}

</div>

{{outlet}}